<div class="govuk-form-group">
    <div class="govuk-date-input" id="">
        <label class="govuk-label govuk-date-input__label">
            {{type-heading}} Date
        </label>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Time
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="{{type}}-day"
                       name="{{type}}Time" type="time"
                       value="09:00" required>
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{type}}-day"
                       name="{{type}}Day" type="number" pattern="[0-9]*" value="{{value-day}}">
            </div>
        </div>
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{type}}-month"
                       name="{{type}}Month" type="number" pattern="[0-9]*" value="{{value-month}}" readonly>
            </div>
        </div>
        <div class=" govuk-date-input__item">
            <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                    Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="{{type}}-year"
                       name="{{type}}Year" type="number" pattern="[0-9]*" value="{{value-year}}" readonly>
            </div>
        </div>
    </div>
</div>
